@import '../styles/vars.scss';

.addTodo {
  border-bottom: 1px solid $c-accent;
  padding-bottom: 15px;
  
	.title {
		text-align: center;
		font-size: 34px;
		margin-bottom: 20px;
	}

	.form {
		border: 1px solid $c-accent;
		border-radius: $b-r-medium;
		width: 100%;
		max-width: 380px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 42px;
    overflow: hidden;

		input {
			padding: 0 18px;
      flex: 1 0 0;

      &::placeholder {
        color: $c-grey;
      }
		}

		button {
			padding: 0 18px;
      height: 100%;
      transition: $transition;

			&.invalid {
				background-color: $c-red;

				&:hover {
					background-color: $c-red;
				}
			}

			&:hover {
				background-color: $c-accent;
			}
		}
	}
}
