@import '../styles/vars.scss';

body {
	font-family: 'Anuphan', sans-serif;
	color: $c-white;
	background-color: $c-bg;
}

.app {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	padding: 100px 0;
	
	.wrapper {
		width: 100%;
		max-width: 560px;
		background-color: $c-bg-light;
		border-radius: $b-r-big;
		padding: 30px 40px;
	}
}
