$c-bg: #08151a;
$c-bg-light: #0c1e25;
$c-accent: #0e536e;
$c-accent-light: #13779e;
$c-white: #fff;
$c-grey: #969696;

$b-r-small: 2px;
$b-r-medium: 10px;
$b-r-big: 15px;

$transition: all 0.15s ease;
